// >>-- 18 SLick slider css start --<<

.filtering,
.multiple-items {
  .slick-slide {
    padding: 10px;
  }
}
.center-mode {
  .swiper-slide {
    position: relative;
    // opacity: 0.4;
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(var(--dark), 0.4);
      border-radius: 10px;
    }
    &.swiper-slide-active {
      transform: scale(1, 1);
      &:before {
        background-color: transparent;
      }
    }
    img {
      width: 100%;
    }
  }
}
.responsive {
  .resopns-item {
    // height: 244px;
    margin: 10px;
    border-radius: 10px;
  }
}

  .variable-width {
    .slider_width_1 {
      width: 175px !important;
      height: 220px;
      background-image: url("/public/images/slick/32.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
    .slider_width_2 {
      width: 250px !important;
      height: 220px;
      background-image: url("/public/images/slick/29.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
    .slider_width_3 {
      width: 225px !important;
      height: 220px;
      background-image: url("/public/images/slick/30.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
    .slider_width_4 {
      height: 220px !important;
      width: 200px;
      background-image: url("/public/images/slick/31.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
    .slider_width_5 {
      width: 350px !important;
      height: 220px;
      background-image: url("/public/images/slick/11.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
    .slider_width_6 {
      width: 275px !important;
      height: 220px;
      background-image: url("/public/images/slick/33.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      margin: 10px;
      border-radius: 10px;
    }
  }
.autoplay-item {
  transition: all 0.4s ease-in-out;
  padding: 10px;
}

.slider-for {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.app-arrow {
  .swiper-button-prev {
    left: 15px;
    top: 56%;
  }
  .swiper-button-next {
    right: 30px;
    top: 56%;
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      &:before {
        opacity: 1;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 60%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
  }

  .swiper-button-prev:before,
  .swiper-button-next:before {
    font-family: "tabler-icons" !important;
    font-size: 28px;
    background-color: rgb(var(--primary), 0.9) !important;
    height: 38px;
    width: 38px;
    color: rgba(var(--white), 1);
    border-radius: 50%;
    display: inline-block;
    padding: 18px 5px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }
  .swiper-button-prev:before {
    content: "\ea60";
  }
  .swiper-button-next:before {
    content: "\ea61";
  }

  .swiper-pagination {
    position: unset;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: none;
      border-radius: 1rem;
      background-color: rgba(var(--secondary), 0.6);
      cursor: pointer;
      // transition: width 0.5s;
      &.swiper-pagination-bullet-active {
        // width: 32px;
        outline: 1px solid rgba(var(--primary), 1);
        outline-offset: 2px;
        background-color: rgba(var(--primary), 1);
      }
      button {
        &:before {
          display: none !important;
        }
      }
    }
  }
}

.slideshow {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 700px;
  margin: 50px auto;

  * {
    outline: none;
  }

  .slider {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
  }

  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .item {
    height: 100%;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1.2);
    }

    &.slick-active img {
      transform: scale(1);
    }
  }
}
.lazy-item {
  padding: 10px;
}

.carousel {
  .carousel-caption {
    position: absolute;
    right: 15%;
    width: 100%;
    bottom: 42px;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgba(var(--dark), 1);
    font-weight: 600;
    text-align: center;
    background: rgba(var(--light), 0.6);
  }
}

// >>-- 18  SLick slider css end --<<
